@import './reset';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');

html {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

//Elements and utils

//Phone styling

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.3em;
  }

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0.5em;
    cursor: pointer;
  }

  &__icon--closed {
    background-image: url('./assets/open.png');
  }

  &__icon--opened {
    background-image: url('./assets/close.png');
  }

  &__logo-container {
    width: 3.5rem;
    padding-right: 5rem;
    margin: 0 auto;
  }

  &__menu {
    width: 100%;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 1em;
    background-color: #000000;
    color: #ffffff;
    li {
      text-transform: uppercase;
      font-size: 1.5rem;
      font-weight: 800;
    }
  }
  &__menu--closed {
    display: none;
  }
}

.hero {
  width: 100%;
  height: 15rem;
  background-image: url('./assets/hero.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.desc {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff;
  padding: 1em;
  &__title {
    padding: 1em 0 1em 0;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    h1 {
      font-size: 1.8rem;
      font-weight: 800;
    }
    h2 {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    p {
      line-height: 1.5rem;
    }
  }
}

.car {
  width: 100%;
  height: 50rem;
  background-image: url('./assets/car.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  color: #ffffff;
  padding: 1em;
  gap: 5rem;
  &__section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  &__title {
    padding: 1em 0 1em 0;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    h1 {
      font-size: 1.8rem;
      font-weight: 800;
    }
    h2 {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
  &__icon-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &__icon {
    margin: 0 auto;
    background-color: #0000008f;
    padding: 0.8em;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 22px 0px #ffffff;
    box-shadow: 0px 0px 22px 0px #ffffff;
    img {
      width: 2rem;
      height: 2rem;
    }
  }
}

.showcase {
  width: 100%;
  height: 10rem;
  background-image: url('./assets/showcase.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.up {
  background-color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.social {
  background-color: #000000;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 0 1rem 0;
}

.copyright {
  width: 100%;
  background-color: #000000;
  color: #949494;
  text-align: center;
  padding: 0 0 3rem 0;
}

//Desktop styling

@media screen and (min-width: 768px) {
}
